/CompanyService/bin/CompanyService.dll
/CompanyService/bin/CompanyService.dll.config
/CompanyService/bin/CompanyService.pdb
/CompanyService/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/CompanyService/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/CompanyService/bin/Newtonsoft.Json.dll
/CompanyService/bin/Newtonsoft.Json.xml
/CompanyService/bin/System.Net.Http.Formatting.dll
/CompanyService/bin/System.Net.Http.Formatting.xml
/CompanyService/bin/System.Web.Cors.dll
/CompanyService/bin/System.Web.Http.Cors.dll
/CompanyService/bin/System.Web.Http.Cors.xml
/CompanyService/bin/System.Web.Http.WebHost.dll
/CompanyService/bin/System.Web.Http.WebHost.xml
/CompanyService/bin/System.Web.Http.dll
/CompanyService/bin/System.Web.Http.xml
/CompanyService/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/CompanyService/bin/roslyn/Microsoft.CSharp.Core.targets
/CompanyService/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/CompanyService/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/CompanyService/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/CompanyService/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/CompanyService/bin/roslyn/Microsoft.CodeAnalysis.dll
/CompanyService/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/CompanyService/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/CompanyService/bin/roslyn/Microsoft.VisualBasic.Core.targets
/CompanyService/bin/roslyn/Microsoft.Win32.Primitives.dll
/CompanyService/bin/roslyn/System.AppContext.dll
/CompanyService/bin/roslyn/System.Collections.Immutable.dll
/CompanyService/bin/roslyn/System.Console.dll
/CompanyService/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
/CompanyService/bin/roslyn/System.Diagnostics.Process.dll
/CompanyService/bin/roslyn/System.Diagnostics.StackTrace.dll
/CompanyService/bin/roslyn/System.IO.Compression.dll
/CompanyService/bin/roslyn/System.IO.FileSystem.DriveInfo.dll
/CompanyService/bin/roslyn/System.IO.FileSystem.Primitives.dll
/CompanyService/bin/roslyn/System.IO.FileSystem.dll
/CompanyService/bin/roslyn/System.IO.Pipes.dll
/CompanyService/bin/roslyn/System.Reflection.Metadata.dll
/CompanyService/bin/roslyn/System.Security.AccessControl.dll
/CompanyService/bin/roslyn/System.Security.Claims.dll
/CompanyService/bin/roslyn/System.Security.Cryptography.Algorithms.dll
/CompanyService/bin/roslyn/System.Security.Cryptography.Encoding.dll
/CompanyService/bin/roslyn/System.Security.Cryptography.Primitives.dll
/CompanyService/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
/CompanyService/bin/roslyn/System.Security.Principal.Windows.dll
/CompanyService/bin/roslyn/System.Text.Encoding.CodePages.dll
/CompanyService/bin/roslyn/System.Threading.Thread.dll
/CompanyService/bin/roslyn/System.ValueTuple.dll
/CompanyService/bin/roslyn/System.Xml.ReaderWriter.dll
/CompanyService/bin/roslyn/System.Xml.XPath.XDocument.dll
/CompanyService/bin/roslyn/System.Xml.XPath.dll
/CompanyService/bin/roslyn/System.Xml.XmlDocument.dll
/CompanyService/bin/roslyn/VBCSCompiler.exe
/CompanyService/bin/roslyn/VBCSCompiler.exe.config
/CompanyService/bin/roslyn/csc.exe
/CompanyService/bin/roslyn/csc.exe.config
/CompanyService/bin/roslyn/csc.rsp
/CompanyService/bin/roslyn/csi.exe
/CompanyService/bin/roslyn/csi.exe.config
/CompanyService/bin/roslyn/csi.rsp
/CompanyService/bin/roslyn/vbc.exe
/CompanyService/bin/roslyn/vbc.exe.config
/CompanyService/bin/roslyn/vbc.rsp
/CompanyService/obj/Debug/CompanyService.csproj.CopyComplete
/CompanyService/obj/Debug/CompanyService.csproj.CoreCompileInputs.cache
/CompanyService/obj/Debug/CompanyService.csproj.FileListAbsolute.txt
/CompanyService/obj/Debug/CompanyService.csprojResolveAssemblyReference.cache
/CompanyService/obj/Debug/CompanyService.dll
/CompanyService/obj/Debug/CompanyService.pdb
/CompanyService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CompanyService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CompanyService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CompanyService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/packages/Microsoft.AspNet.Cors.5.2.4/Microsoft.AspNet.Cors.5.2.4.nupkg
/packages/Microsoft.AspNet.Cors.5.2.4/lib/net45/System.Web.Cors.dll
/packages/Microsoft.AspNet.WebApi.5.2.4/Microsoft.AspNet.WebApi.5.2.4.nupkg
/packages/Microsoft.AspNet.WebApi.Client.5.2.4/Microsoft.AspNet.WebApi.Client.5.2.4.nupkg
/packages/Microsoft.AspNet.WebApi.Client.5.2.4/lib/net45/System.Net.Http.Formatting.dll
/packages/Microsoft.AspNet.WebApi.Client.5.2.4/lib/net45/System.Net.Http.Formatting.xml
/packages/Microsoft.AspNet.WebApi.Client.5.2.4/lib/netstandard2.0/System.Net.Http.Formatting.dll
/packages/Microsoft.AspNet.WebApi.Client.5.2.4/lib/netstandard2.0/System.Net.Http.Formatting.xml
/packages/Microsoft.AspNet.WebApi.Client.5.2.4/lib/portable-wp8+netcore45+net45+wp81+wpa81/System.Net.Http.Formatting.dll
/packages/Microsoft.AspNet.WebApi.Client.5.2.4/lib/portable-wp8+netcore45+net45+wp81+wpa81/System.Net.Http.Formatting.xml
/packages/Microsoft.AspNet.WebApi.Core.5.2.4/Content/web.config.transform
/packages/Microsoft.AspNet.WebApi.Core.5.2.4/Microsoft.AspNet.WebApi.Core.5.2.4.nupkg
/packages/Microsoft.AspNet.WebApi.Core.5.2.4/lib/net45/System.Web.Http.dll
/packages/Microsoft.AspNet.WebApi.Core.5.2.4/lib/net45/System.Web.Http.xml
/packages/Microsoft.AspNet.WebApi.Cors.5.2.4/Microsoft.AspNet.WebApi.Cors.5.2.4.nupkg
/packages/Microsoft.AspNet.WebApi.Cors.5.2.4/lib/net45/System.Web.Http.Cors.dll
/packages/Microsoft.AspNet.WebApi.Cors.5.2.4/lib/net45/System.Web.Http.Cors.xml
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.4/Microsoft.AspNet.WebApi.WebHost.5.2.4.nupkg
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.4/lib/net45/System.Web.Http.WebHost.dll
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.4/lib/net45/System.Web.Http.WebHost.xml
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7.nupkg
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/content/net45/web.config.install.xdt
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/content/net45/web.config.uninstall.xdt
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/content/net46/web.config.install.xdt
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/content/net46/web.config.uninstall.xdt
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/tools/net45/install.ps1
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/tools/net45/uninstall.ps1
/packages/Microsoft.Net.Compilers.2.1.0/Microsoft.Net.Compilers.2.1.0.nupkg
/packages/Microsoft.Net.Compilers.2.1.0/ThirdPartyNotices.rtf
/packages/Microsoft.Net.Compilers.2.1.0/build/Microsoft.Net.Compilers.props
/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.Build.Tasks.CodeAnalysis.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.CSharp.Core.targets
/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.CodeAnalysis.CSharp.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.CodeAnalysis.Scripting.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.CodeAnalysis.VisualBasic.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.CodeAnalysis.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.DiaSymReader.Native.amd64.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.DiaSymReader.Native.x86.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.VisualBasic.Core.targets
/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.Win32.Primitives.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.AppContext.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Collections.Immutable.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Console.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Diagnostics.FileVersionInfo.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Diagnostics.Process.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Diagnostics.StackTrace.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.IO.Compression.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.IO.FileSystem.DriveInfo.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.IO.FileSystem.Primitives.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.IO.FileSystem.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.IO.Pipes.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Reflection.Metadata.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Security.AccessControl.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Security.Claims.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Security.Cryptography.Algorithms.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Security.Cryptography.Encoding.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Security.Cryptography.Primitives.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Security.Cryptography.X509Certificates.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Security.Principal.Windows.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Text.Encoding.CodePages.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Threading.Thread.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.ValueTuple.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Xml.ReaderWriter.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Xml.XPath.XDocument.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Xml.XPath.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Xml.XmlDocument.dll
/packages/Microsoft.Net.Compilers.2.1.0/tools/VBCSCompiler.exe
/packages/Microsoft.Net.Compilers.2.1.0/tools/VBCSCompiler.exe.config
/packages/Microsoft.Net.Compilers.2.1.0/tools/csc.exe
/packages/Microsoft.Net.Compilers.2.1.0/tools/csc.exe.config
/packages/Microsoft.Net.Compilers.2.1.0/tools/csc.rsp
/packages/Microsoft.Net.Compilers.2.1.0/tools/csi.exe
/packages/Microsoft.Net.Compilers.2.1.0/tools/csi.exe.config
/packages/Microsoft.Net.Compilers.2.1.0/tools/csi.rsp
/packages/Microsoft.Net.Compilers.2.1.0/tools/vbc.exe
/packages/Microsoft.Net.Compilers.2.1.0/tools/vbc.exe.config
/packages/Microsoft.Net.Compilers.2.1.0/tools/vbc.rsp
/packages/Newtonsoft.Json.6.0.4/Newtonsoft.Json.6.0.4.nupkg
/packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/tools/install.ps1
/.vs/CompanyService/v15/.suo
/.vs/CompanyService/v15/Server/sqlite3/db.lock
/.vs/CompanyService/v15/Server/sqlite3/storage.ide
/.vs/CompanyService/v15/Server/sqlite3/storage.ide-shm
/.vs/CompanyService/v15/Server/sqlite3/storage.ide-wal
/.vs/config/applicationhost.config
